body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: url("../img/main_img.jpg"), no-repeat, 50%, 50%;
    width: 100%;
    height: 900px;
    color: #fff;

    .header-menu {
        display: flex;

        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        .menu-left, .menu-right {
            width: 50%;
        }

        .menu-right {
            ul {
                padding: 40px 0;
                margin: 0;

                li {
                    display: inline;
                    padding: 0 20px 39px;
                    font-size: 16px;
                    line-height: 20px;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .active {
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }

    .header-text {
        text-align: center;

        .header-title {
            font-size: 16px;
            margin-top: 220px;
        }

        .header-description {
            margin: 20px auto;
            max-width: 829px;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
        }

        .header-form {

            .button {
                margin: 50px auto 0;
                text-align: center;
                color: #fff;
                width: 200px;
                padding: 15px 0;
                font-size: 16px;
                background: #4985FF;
                border-radius: 30px;
                cursor: pointer;
            }

            .button:hover {
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.services {
    height: 703px;
    text-align: center;

    .services-title {
        margin: 110px auto 0;
        color: #323232;
        font-size: 36px;
        line-height: 53px;
        font-weight: bold;
        text-align: center;
        max-width: 760px;
    }

    .services-description {
        margin: 50px auto 0;
        color: #999;
        font-size: 16px;
        line-height: 25px;
        max-width: 760px;
    }

    .services-cards {
        margin-top: 70px;

        .card {
            display: inline-block;
            width: 350px;
            margin-right: 30px;

            .card-img {
                display: inline-block;
                margin-right: 17px;
            }

            .card-text {
                display: inline-block;
                width: 218px;
                text-align: left;
                vertical-align: middle;
                margin-top: -20px;

                .card-title {
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 12px;
                }

                .card-description {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #999;
                }
            }
        }

        .card:last-child {
            margin-right: 0;
        }
    }

    .services-button {
        margin: 55px auto 0;
        background: #4985FF;
        border-radius: 30px;
        padding: 13px 0;
        width: 200px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }

    .services-button:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
}

.company-level {
    height: 797px;
    background: #F6F6F8;
    padding-top: 135px;

    .standarts-company {
        max-width: 1110px;
        border-bottom: 1px solid #E0E0E0;
        margin: 0 auto;

        .standarts-text {
            display: inline-block;
            margin-right: 115px;
            max-width: 490px;

            .standarts-text-title {
                font-weight: bold;
                font-size: 36px;
                line-height: 53px;
                color: #323232;
                margin-bottom: 40px;
            }

            .standarts-text-description {
                font-size: 16px;
                line-height: 25px;
                color: #999999;
                margin-bottom: 30px;
            }

            .standarts-text-link {
                a {
                    font-weight: 500;
                    font-size: 16px;
                    color: #4985FF;
                }
            }
        }

        .standarts-img {
            margin: -35px 0 90px;
            padding: 0;
            display: inline-block;
            vertical-align: top;

            img {
                padding: 0;
                border-radius: 30px;
                width: 500px;
                height: 400px;
            }
        }
    }
}

.projects {
    margin-top: 70px;

    .projects-cards {
        display: flex;
        justify-content: space-between;
        width: 905px;
        height: 70px;
        margin: 0 auto;

        .card-project {
            width: 105px;
            height: 67px;

            .card-menu {
                display: inline-block;

                .card-project_img {
                    display: inline-block;
                    margin-right: 16px;
                }

                .number {
                    font-size: 36px;
                    line-height: 53px;
                    color: #000000;
                    display: inline-block;
                }
            }

            .card-project-text {
                font-size: 16px;
                line-height: 25px;
                color: #999999;
                margin-top: 17px;
            }
        }
    }
}

.our_work {
    height: 972px;
    margin: 0;
    position: relative;

    .our_work_top {
        height: 490px;
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;

        .menu_work {
            display: flex;
            justify-content: space-between;
            align-items: center;

            max-width: 1110px;
            margin: 0 auto;
            padding-top: 100px;

            .menu_text {
                font-weight: bold;
                font-size: 36px;
                width: 540px;
                color: #ffffff;
            }

            .menu_button {
                background: #4985FF;
                border-radius: 30px;
                padding: 13px 0;
                width: 200px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .our_work_buttom {
        margin: 0 auto;
        width: 1110px;

        .border_works {
            border: 1px solid #E0E0E0;
            margin-top: 397px;
        }
    }

    .our_work_buttom_project {
        height: 550px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 258px;

        .cards_work {
            display: flex;
            justify-content: space-between;
            height: 550px;
            margin: 0 auto;
            width: 1110px;

            .card_work_one {
                display: inline-block;
                margin-right: 30px;

                .work_img {
                    width: 350px;
                    height: 300px;
                    margin: 0 auto;
                }

                .work_tittle {
                    width: 281px;
                    margin-top: 29px;
                    margin-bottom: 28px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;

                    .work_tittle_number {
                        color: #4985FF;
                        display: inline-block;
                    }

                    .work_tittle_text {
                        display: inline-block;
                    }
                }

                .work_description {
                    font-size: 16px;
                    line-height: 25px;
                    color: #999999;
                    width: 350px;
                    margin-bottom: 28px;
                }

                .work_details {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-decoration-line: underline;
                    color: #4985FF;
                }
            }
        }
    }
}

.our_projects {
    height: 775px;
    background: #F6F6F8;
    margin: 0;
    padding-top: 100px;

    .project_tittle {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        text-align: center;
        color: #000000;
        width: 730px;
        margin: 0 auto 70px;

        .project_description {
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #999999;
            margin-top: 50px;
        }
    }

    .our_projects_cards {
        display: flex;
        justify-content: space-between;
        max-width: 1110px;
        margin: 0 auto;
    }

    .our_projects_button {
        background: #4985FF;
        border-radius: 30px;
        padding: 13px 0;
        width: 200px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        margin: 50px auto 0;
    }
}

.blog_video {
    height: 1082px;
    margin: 0;
    position: relative;

    .blog_video_top {
        height: 570px;
        background: url("../img/rectangle_5.jpg"), no-repeat, 50%, 50%;

        .blog_video_text {
            margin: 0 auto;
            padding-top: 70px;

            .blog_video_tittle {
                font-weight: bold;
                font-size: 36px;
                line-height: 53px;
                text-align: center;
                color: #FFFFFF;

                .blog_video_description {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 30px;
                }
            }
        }
    }

    .blog_video_buttom {
        margin: 0;

        .blog_border {
            border: 1px solid #E0E0E0;
            width: 1110px;
            margin: 165px auto 0;
        }

        .blog_tittle {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #000000;
            margin-top: 85px;

            .blog_description {
                font-size: 16px;
                line-height: 25px;
                text-align: center;
                color: #999999;
                margin-top: 20px;
            }
        }

        .blog_button {
            background: #FFFFFF;
            border: 1px solid #F2F2F2;
            box-sizing: border-box;
            box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
            border-radius: 30px;
            width: 500px;
            margin: 30px auto 0;

            input {
                width: 269px;
                height: 45px;
                border-radius: 30px 0 0 30px;
                font-weight: normal;
                font-size: 13px;
                line-height: 21px;
                color: #999999;
                display: inline-block;
                border: aliceblue;
                padding-left: 33px;
            }

            button {
                width: 194px;
                height: 51px;
                background: #4985FF;
                box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
                border-radius: 0 30px 30px 0;
                display: inline-block;
                border: aliceblue;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;
            }
        }

        .blog_clarification {
            font-size: 13px;
            line-height: 21px;
            text-align: center;
            color: #999999;
            margin-top: 35px;
        }
    }
}

.videoblog {
    height: 500px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 220px;

    .video_1 {
        margin: 0 auto;
        text-align: center;

        video {
        }
    }
}

.footer {
    height: 470px;
    background: #F6F6F8;

    .footer_cards {
        display: flex;
        justify-content: space-between;
        width: 1110px;

        margin: 0 auto;
        padding-top: 70px;

        .card {

            .footer_contacts_tittle {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #000000;

                ul {
                    padding: 0;

                    a {
                        text-decoration: none;
                        color: #666;
                    }

                    .email {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        color: #999999;
                        list-style: none;
                        background: url("../img/email.svg") no-repeat 0 4px;
                        padding-left: 28px;
                        margin-top: 30px;
                    }

                    .tel {
                        text-decoration: none;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        color: #999999;
                        list-style: none;
                        background: url("../img/call.svg") no-repeat 0 4px;
                        padding-left: 28px;
                        margin-top: 30px;
                    }

                    .geo {
                        text-decoration: none;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        color: #999999;
                        list-style: none;
                        background: url("../img/geo.svg") no-repeat 0 4px;
                        padding-left: 28px;
                        margin-top: 30px;
                    }

                    .osers {
                        list-style: none;
                        background: url("../img/vector_footer.svg") no-repeat 0 4px;
                        padding-left: 20px;
                        margin-top: 30px;
                        font-size: 14px;
                        line-height: 22px;
                        color: #999999;
                        font-weight: normal;
                        font-style: normal;
                    }
                }
            }
        }
    }

    .footer_border {
        border: 1px solid #E0E0E0;
        margin: 70px auto 0;
        width: 1110px;
    }

    .footer_signature {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        color: #999999;
        margin: 30px auto;
    }
}
